<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Landing page for all uncaught errors.">
        <meta name="author" content="Ben Leboot">
        <meta name="date.created" content="2020-04-22">
        <meta name="date.modified" content="2020-04-22">
               
        <!-- Title for document -->
        <title>Error Page | Word Counter</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- Center Contents -->
        <style>
            body {
                text-align: center;
            }
        </style>

    </head> <!-- END HEAD ====================================================================================== -->
    
    <body>
        <h2>Sorry, but what you were looking for doesn't exist.</h2>
        <a href="/">Go Home</a>
    </body> <!-- END BODY ====================================================================================== -->
</html>