<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Analysis of a text yields a visual representation of the frequency of the text's words.">
        <meta name="keywords" content="chart.js; spinner; page-tabs; hamburger menu; pictures in header">
        
        <meta name="author" content="Ben Leboot">
        <meta name="date.created" content="2020-03-10">
        <meta name="date.modified" content="2020-03-11">
               
        <!-- Title for document -->
        <title>Home | Word Counter</title>

        <!-- External Links -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
        <!-- CSS, Custom, External -->
        <link href="home.css" rel="stylesheet" type="text/css" />
        
        <!-- CSS, Custom, Internal -->
        <style></style>

    </head> <!-- END HEAD ====================================================================================== -->
    
    <body>
        <header>
            <div class="header-picture"></div>
            <div class="header-picture"></div>
            <div class="header-picture"></div>
            <div class="header-picture"></div>
            <div class="header-picture"></div>
            <div class="header-picture"></div>
            <div class="header-picture"></div>
        </header> <!-- END header ------------------------------------------------------------------------------ -->

        <section class="section-main-body">

            <!-- Sidebar -->
            <nav id="sidebar">
                <div id="sidebar-header">
                    <h4>Sidebar Header</h4>
                </div>
                <div>
                    <a>Link 1</a>
                    <a>Link 2</a>
                    <a>Link 3</a>
                </div>
            </nav> <!-- End Sidebar ---------------------------------------------------------------------------- -->
    
            <!-- Page Content -->
            <div id="page-content">
                <nav>
                    <button class="hamburger-button" onClick="toggleSidebar()">☰ Menu</button>
                </nav>
                <div id="div-form1">
                    <form id="form1" onSubmit="analyzetext()">
                        <div>
                            <textarea placeholder="Text to analyze." id="form1-text-area" name="form1-text-area"></textarea>
                        </div>
                        <div id="form1-error-div"></div>
                        <div id="div-form1-buttons">
                            <button type="submit" id="form1-button">Analyze</button>
                        </div>
                    </form>
                </div>
                <div id="container-for-page-tabs" class="inactive-tab-content">
                    <div id="page-tabs-buttons">
                        <button class="tab-button" onClick="displayTabContent('page1', this, 'olivedrab')" id="defaultOpen">Scalar Graph</button>
                        <button class="tab-button" onClick="displayTabContent('page2', this, 'peru')">Log Graph</button>
                        <button class="tab-button" onClick="displayTabContent('page3', this, 'rosybrown')">Table</button>
                    </div>
                    <div id="page-tabs-content">
                        <div class="tab-content" id="page1">
                            <h2>This is page 1</h2>
                        </div>
            
                        <div class="tab-content" id="page2">
                            <h2>This is page 2</h2>
                        </div>
            
                        <div class="tab-content" id="page3">
                            <h2>This is page 3</h2>
                        </div>
                    </div>
                </div>


                <div id="my-chart"></div>
            </div> <!-- End Page Content ----------------------------------------------------------------------- -->
    
        </section> <!-- END Section-Main-Body ------------------------------------------------------------------ -->

        <footer>
            <p>Created by LeBoot Websites</p>
            <p>Copyright © 2020</p>
        </footer> <!-- END footer -->

        <!-- JavaScript, Custom, Internal -->
        <script>
            function toggleSidebar() {
                $('#sidebar').toggleClass('active');
            }
            
            function displayTabContent(tabName, element, color) {
                var allTabContents = document.getElementsByClassName("tab-content");
                for (var i = 0; i < allTabContents.length; i++) {
                    allTabContents[i].classList.remove("active-tab-content");
                    allTabContents[i].classList.add("inactive-tab-content");
                }

                var allTabButtons = document.getElementsByClassName("tab-button");
                for (var i = 0; i < allTabButtons.length; i++) {
                    allTabButtons[i].style.backgroundColor = "";
                }
                
                element.classList.add("active-tab-button");
                element.style.backgroundColor = color;

                document.getElementById(tabName).classList.add("active-tab-content");
            }

        </script>

        <!-- JavaScript, Custom, External -->
        <script src="home.js"></script>

        <!-- External Scripts -->
            <!-- Full JQuery (with AJAX) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body> <!-- END BODY ====================================================================================== -->
</html>