/* 
    Name: Account.css
    Project: Word Counter
    Date Created: 19 April 2020
    Date Updated: 21 April 2020
    Author: Ben Lebout
*/

#modal-delete-text-content {
    width: 400px;
    height: 250px;
}

#modal-change-email-content,
#modal-delete-account-content {
    width: 400px;
    height: 300px;
}

#modal-change-password-content {
    width: 400px;
    height: 375px;
}

#div-to-hold-table {
    width: 1000px;
    margin: auto;
    background-color: rosybrown;
    padding-bottom: 25px;
}

#account-header {
    text-align: center;
    padding: 5px;
}

#account-page-div-errors {
    width: 950px;
    margin: auto;
}

#account-table-no-content-div {
    width: 950px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    background-color: wheat;;
}

#account-table {
    background-color: wheat;
    width: 950px;
    margin: auto;
}

th, td {
    padding: 5px 10px;
}

#account-table-headerrow {
    border-bottom: 2px solid brown;
}

tr {
    border-bottom: 1px solid brown;
}

.button-account-table {
    width: 80px;
    height: 25px;
    border-radius: 4px;
    background-color: rgb(244, 250, 250);
    color: black;
    border: 1px solid rgb(156, 150, 150);
    cursor: pointer;
    outline: none;
}

.button-account-table:hover {
    background-color: rgb(218, 231, 231);
}