/* 
    Name: Account.css
    Project: Word Counter
    Date Created: 19 April 2020
    Date Updated: 22 April 2020
    Author: Ben Lebout
*/

#modal-delete-text-content {
    width: 400px;
    height: 250px;
}

#modal-change-email-content,
#modal-delete-account-content {
    width: 400px;
    height: 300px;
}

#modal-change-password-content {
    width: 400px;
    height: 375px;
}

#modal-view-edit-text-content,
#modal-save-new-text-content {
    width: 400px;
    height: 500px;
}

#modal-save-text-anyway-content,
#modal-save-new-text-anyway-content {
    width: 400px;
    height: 150px;
}

#div-to-hold-table {
    width: 1000px;
    margin: auto;
    background-color: rosybrown;
    padding-bottom: 25px;
}

#account-header {
    text-align: center;
    padding: 5px;
}

#account-page-div-errors {
    width: 950px;
    margin: auto;
}

#account-table-no-content-div {
    width: 950px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    background-color: wheat;;
}

#account-table {
    background-color: wheat;
    width: 950px;
    margin: auto;
}

th, td {
    padding: 5px 10px;
}

#account-table-headerrow {
    border-bottom: 2px solid brown;
}

tr {
    border-bottom: 1px solid brown;
}

.button-account-table {
    width: 80px;
    height: 25px;
    border-radius: 4px;
    background-color: rgb(244, 250, 250);
    color: black;
    border: 1px solid rgb(156, 150, 150);
    cursor: pointer;
    outline: none;
}

.button-account-table:hover {
    background-color: rgb(218, 231, 231);
}

#modal-form-view-edit-text-input-title,
#modal-form-view-edit-text-input-content,
#modal-form-save-new-text-input-content,
#modal-form-save-new-text-input-title {
    border: 1px solid rgb(200, 209, 209);
    outline: none;
    border-radius: 4px;
    padding-left: 3px;
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    display: block;
}

#modal-form-view-edit-text-input-content,
#modal-form-save-new-text-input-content {
    min-height: 200px;
    max-height: 200px;
}

.view-edit-text-label,
#modal-form-view-edit-text-input-title-errors,
#modal-form-view-edit-text-input-content-errors,
#modal-form-save-new-text-input-title-errors,
#modal-form-save-new-text-input-content-errors {
    width: 80%;
}