/* 
    Name: Home.css
    Project: Word Counter
    Date Created: 2 March 2020
    Date Updated: 10 April 2020
    Author: Ben Lebout
*/

/*Miscellaneous*/
/* ------------------------------ */

#nav-sidebar-toggle {
    margin: 10px;
}

.spin {
    border: 8px solid rgb(152, 192, 243);
    border-left: 8px solid rgb(30, 129, 209);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin: 10px auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Modals*/
/* ------------------------------ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

#modal-log-in-content,
#modal-forgot-password-content {
    width: 400px;
    height: 300px;
}

#modal-sign-up-content {
    width: 400px;
    height: 380px;
}

.modal-success {
    width: 400px;
    height: 200px;
    text-align: center;
}

.modal-header {
    text-align: center;
    margin-top: 0;
}

input {
    border: 1px solid rgb(200, 209, 209);
    outline: none;
    border-radius: 4px;
    padding-left: 3px;
}

input,
label,
.div-error-small {
    display: block;
    width: 55%;
    margin: auto;
}

.div-error-small {
    color: red;
    font-size: small;
}

.div-error-big {
    text-align: center;
    color: rgb(153, 6, 6);
    background-color: rgb(253, 197, 192);
    border-radius: 4px;
}

.form-div-label-and-input{
    width: 100%;
    float: left;
    margin: 5px 0px;
}

.form-div-buttons {
    width: 90%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.form-button,
.form-button-forgot-password {
    float: right;
    margin: 0px 5px;
    background-color: rgb(227, 238, 238);
    color: black;
    border: 1px solid rgb(156, 150, 150);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    height: 40px;
}

.form-button {
    width: 60px;
}

.form-button-forgot-password {
    width: 80px;
}

.button-modal-success {
    float: right;
    margin: 20px 5px 0px 5px;
    background-color: rgb(227, 238, 238);
    color: black;
    border: 1px solid rgb(156, 150, 150);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 60px;
}

.form-button:hover,
.form-button-forgot-password:hover,
.button-modal-success:hover {
    background-color: rgb(195, 211, 211);
}