/* 
    Name: Home.css
    Project: Word Counter
    Date Created: 2 March 2020
    Date Updated: 22 April 2020
    Author: Ben Lebout
*/

/*Miscellaneous*/
/* ------------------------------ */

.button-standard:hover {
    background-color: rgb(214, 213, 213);
}

#nav-sidebar-toggle {
    margin: 10px;
}

.spin {
    border: 8px solid rgb(152, 192, 243);
    border-left: 8px solid rgb(30, 129, 209);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    margin: 10px auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Modals*/
/* ------------------------------ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

#modal-log-in-content,
#modal-forgot-password-content {
    width: 400px;
    height: 300px;
}

#modal-sign-up-content {
    width: 400px;
    height: 380px;
}

#modal-save-new-text-content {
    width: 400px;
    height: 500px;
}

#modal-save-new-text-anyway-content {
    width: 400px;
    height: 150px;
}

.modal-success {
    width: 400px;
    height: 200px;
    text-align: center;
}

.modal-header {
    text-align: center;
    margin-top: 0;
}

input {
    border: 1px solid rgb(200, 209, 209);
    outline: none;
    border-radius: 4px;
    padding-left: 3px;
}

input,
label,
.div-error-small {
    display: block;
    width: 55%;
    margin: auto;
}

.div-error-small {
    color: red;
    font-size: small;
}

.div-error-big {
    text-align: center;
    color: rgb(153, 6, 6);
    background-color: rgb(253, 197, 192);
    border-radius: 4px;
}

.form-div-label-and-input{
    width: 100%;
    float: left;
    margin: 5px 0px;
}

.form-div-buttons {
    width: 90%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.form-button,
.form-button-forgot-password {
    float: right;
    margin: 0px 5px;
    background-color: rgb(227, 238, 238);
    color: black;
    border: 1px solid rgb(156, 150, 150);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    height: 40px;
}

.form-button {
    width: 60px;
}

.form-button-forgot-password {
    width: 80px;
}

.button-modal-success {
    float: right;
    margin: 20px 5px 0px 5px;
    background-color: rgb(227, 238, 238);
    color: black;
    border: 1px solid rgb(156, 150, 150);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 60px;
}

.form-button:hover,
.form-button-forgot-password:hover,
.button-modal-success:hover {
    background-color: rgb(195, 211, 211);
}

/*Graphs*/
/* ------------------------------ */

#div-analysis {
    width: 600px;
    text-align: center;
    margin: auto;
}

#div-analysis-form,
#page-tabs-buttons,
#page-tabs-content {
    width: 100%;
}

#analysis-form-text-area {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
    border-radius: 4px;
}

#analysis-form-error-div {
    padding-bottom: 5px;
}

#container-for-page-tabs {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

#page1 {background-color: rosybrown;}
#page2 {background-color: rosybrown;}
#page3 {background-color: rosybrown;}

.inactive-tab-content {
    display: none;
}

.active-tab-content {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}

.tab-button {
    border: 1px solid grey;
    border-bottom: none;
    width: 120px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: whitesmoke;
}

.tab-button:hover {
    background-color: rgb(214, 213, 213);
}

#chart-log,
#chart-scalar {
     max-width: 800px;
     max-height: 365px;
     margin: 20px auto;
}

#page3-table {
    margin: 10px auto;
    width: 300px;
    background-color: wheat;
}

.page3-table-headerrow {
    border-bottom: 1px solid brown;
    text-align: center;
}

#modal-form-save-new-text-input-content,
#modal-form-save-new-text-input-title {
    border: 1px solid rgb(200, 209, 209);
    outline: none;
    border-radius: 4px;
    padding-left: 3px;
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    display: block;
}

#modal-form-save-new-text-input-content {
    min-height: 200px;
    max-height: 200px;
}

.view-edit-text-label,
#modal-form-save-new-text-input-title-errors,
#modal-form-save-new-text-input-content-errors {
    width: 80%;
}