<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="description of website"> <!-- THIS -->
        <meta name="keywords" content="keyword1; keyword2; keyword3"> <!-- THIS -->
        
        <meta name="author" content="Ben Leboot">
        <meta name="date.created" content="2020-03-02">
        <meta name="date.modified" content="2020-04-06"> <!-- THIS -->
               
        <!-- Title for document -->
        <title>Account | Word Counter</title>

        <!-- External Links -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
        <!-- CSS, Custom, External -->
        <link href="css/headerfooter.css" rel="stylesheet" type="text/css" />
        <link href="css/account.css" rel="stylesheet" type="text/css" />
        <link href="css/sidebar.css" rel="stylesheet" type="text/css" />
        
        <!-- CSS, Custom, Internal -->
        <style>            
        </style>

    </head> <!-- END HEAD ====================================================================================== -->
    
    <body>
        <noscript><div id="noscript-div"><h2>Warning: This page does not function properly with JavaScript disabled.</h2></div></noscript>
        <header>
            Header
        </header> <!-- END header -->
        <section class="section-main-body">
            Section Main Body
        </section> <!-- END Section-Main-Body -->
        <footer>
            Footer
        </footer> <!-- END footer -->

        <!-- JavaScript, Custom, Internal -->
        <script></script>

        <!-- JavaScript, Custom, External -->
        <script src="js/account.js" ></script>
        <script src="js/sidebar.js" ></script>

        <!-- External Scripts -->
            <!-- Full JQuery (with AJAX) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body> <!-- END BODY ====================================================================================== -->
</html>