<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <meta name="author" content="Ben Leboot">
        <meta name="date.created" content="2020-04-19">
        <meta name="date.modified" content="2020-04-25">
               
        <!-- Title for document -->
        <title>Account | Word Counter</title>

        <!-- External Links -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
        <!-- CSS, Custom, External -->
        <link href="/css/headerfooter.css" rel="stylesheet" type="text/css" />
        <link href="/css/home.css" rel="stylesheet" type="text/css" />
        <link href="/css/sidebar.css" rel="stylesheet" type="text/css" />
        <link href="/css/account.css" rel="stylesheet" type="text/css" />
        
        <!-- CSS, Custom, Internal -->
        <style>            
        </style>

    </head> <!-- END HEAD ====================================================================================== -->
    
    <body>
        <noscript><div id="div-noscript"><h2>Warning: This page does not function properly with JavaScript disabled.</h2></div></noscript>
        
        <header>
            <div id="header-container">
                <div>
                    <div class="div-header-picture"><img src="/image/books-7.jpg" alt="Book" class="header-image"></div>
                    <div class="div-header-picture"><img src="/image/books-1.jpg" alt="Book" class="header-image"></div>
                    <div class="div-header-picture"><img src="/image/books-2.jpg" alt="Book" class="header-image"></div>
                    <div class="div-header-picture"><img src="/image/books-8.jpg" alt="Book" class="header-image"></div>
                    <div class="div-header-picture"><img src="/image/books-5.jpg" alt="Book" class="header-image"></div>
                    <div class="div-header-picture"><img src="/image/books-6.jpg" alt="Book" class="header-image"></div>
                    <div class="div-header-picture"><img src="/image/books-9.jpg" alt="Book" class="header-image"></div>
                </div>
                <div id="div-for-website-title">
                    <a href="/">
                        <div id="website-title">Ben's Word Counter</div>
                    </a>
                </div>
            </div>
        </header> <!-- END header ------------------------------------------------------------------------------ -->

        <section class="section-main-body">
            <!-- Sidebar (Thymeleaf controlled) -->
            <nav id="sidebar">
                <div>
                    <div id="div-sidebar-links-container">
                        <div id="div-sidebar-header">
                            <div><h3>Hello,</h3></div>
                            <div><h4><span th:text="${email}"></span></h4></div>
                        </div>
                        <div class="div-sidebar-link">
                            <a href="/">
                                <button class="div-sidebar-button button-standard" id="button-link-home">Home</button>
                            </a>
                        </div>
                        <div class="div-sidebar-link">
                            <button class="div-sidebar-button button-standard" id="button-submit-new-text" onclick="displayModalSaveNewText()">Add New Text</button>
                        </div>
                        <div class="div-sidebar-link">
                            <button class="div-sidebar-button button-standard" id="button-change-email" onclick="displayModalChangeEmail()">Change Email</button>
                        </div>
                        <div class="div-sidebar-link">
                            <button class="div-sidebar-button button-standard" id="button-change-password" onclick="displayModalChangePassword()">Change Password</button>
                        </div>
                        <div class="div-sidebar-link">
                            <button class="div-sidebar-button button-standard" id="button-delete-account" onclick="displayModalDeleteAccount()">Delete Account</button>
                        </div>
                        <div class="div-sidebar-link">
                            <a href="/logout">
                                <button class="div-sidebar-button button-standard" id="button-log-out">Log Out</button>
                            </a>
                        </div>
                    </div>
                </div>

            </nav> <!-- End Sidebar ---------------------------------------------------------------------------- -->

            <!-- Page Content -->
            <div id="page-content">
                <nav id="nav-sidebar-toggle">
                    <button id="button-sidebar-toggle button-standard" onClick="toggleSidebar()">☰ Menu</button>
                </nav>
                <div id="div-to-hold-table">
                    <div id="account-header">
                        <h2>My Texts</h2>
                    </div>
                    <table id="account-table">
                        <tr id="account-table-headerrow">
                            <th width="25%">Title</th>
                            <th width="49%">Content</th>
                            <th width="8%">View/Edit</th>
                            <th width="8%">Analyze</th>
                            <th width="8%">Delete</th>
                        </tr>
                    </table>
                    <div class="div-error-big" id="account-page-div-errors"></div>
                    <div id="account-table-no-content-div" class="inactive-tab-content">
                        <p>You have no texts to display.</p>
                    </div>
                    <div id="account-page-spinner">
                        <div class="spin"></div>
                    </div>
                </div>
            </div>

            <!-- Modals ---------------------------------------------------------------------------------------- -->
            <div id="modal-change-email" class="modal">
                <div class="modal-content" id="modal-change-email-content">
                    <h2 class="modal-header">Change Email</h2>
                    <div class="div-error-big" id="modal-change-email-div-errors"></div>
                    <form id="modal-form-change-email">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-change-email-input-email">New Email:</label>
                            <input type="email" id="modal-form-change-email-input-email">
                            <div class="div-error-small" id="modal-change-email-form-email-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-change-email-input-password">Current Password:</label>
                            <input type="password" id="modal-form-change-email-input-password">
                            <div class="div-error-small" id="modal-change-email-form-password-errors"></div>
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-change-email-button-cancel" onclick="closeModalChangeEmail()">Cancel</button>
                            <button type="submit" class="form-button" id="modal-form-change-email-button-submit" onclick="submitChangeEmail()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-change-password" class="modal">
                <div class="modal-content" id="modal-change-password-content">
                    <h2 class="modal-header">Change Password</h2>
                    <div class="div-error-big" id="modal-change-password-div-errors"></div>
                    <form id="modal-form-change-password">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-change-password-input-old-pass">Current Password:</label>
                            <input type="password" id="modal-form-change-password-input-old-pass">
                            <div class="div-error-small" id="modal-change-password-form-old-pass-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-change-password-input-new-password-1">New Password:</label>
                            <input type="password" id="modal-form-change-password-input-new-password-1">
                            <div class="div-error-small" id="modal-change-password-form-new-password-1-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-change-password-input-new-password-2">Confirm New Password:</label>
                            <input type="password" id="modal-form-change-password-input-new-password-2">
                            <div class="div-error-small" id="modal-change-password-form-new-password-2-errors"></div>
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-change-password-button-cancel" onclick="closeModalChangePassword()">Cancel</button>
                            <button type="submit" class="form-button" id="modal-form-change-password-button-submit" onclick="submitChangePassword()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-delete-account" class="modal">
                <div class="modal-content" id="modal-delete-account-content">
                    <h2 class="modal-header">Delete Account</h2>
                    <div class="div-error-big" id="modal-delete-account-div-errors"></div>
                    <div style="text-align: center;">
                        <h5>Please enter your password to confirm deletion.</h5>
                    </div>
                    
                    <form id="modal-form-delete-account">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-delete-account-input-password">Password:</label>
                            <input type="password" id="modal-form-delete-account-input-password">
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-delete-account-button-cancel" onclick="closeModalDeleteAccount()">Cancel</button>
                            <button type="submit" class="form-button" id="modal-form-delete-account-button-submit" onclick="submitDeleteAccount()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-change-email-success" class="modal">
                <div class="modal-content modal-success" id="modal-change-email-success-content">
                    <h3>Your email has been successfully changed.</h3>
                    <button type="submit" class="button-modal-success" onclick="closeModalChangeEmailSuccess()">Close</button>
                </div>
            </div>

            <div id="modal-change-password-success" class="modal">
                <div class="modal-content modal-success" id="modal-change-password-success-content">
                    <h3>Your password has been successfully changed.</h3>
                    <button type="submit" class="button-modal-success" onclick="closeModalChangePasswordSuccess()">Close</button>
                </div>
            </div>

            <div id="modal-delete-text" class="modal">
                <div class="modal-content" id="modal-delete-text-content">
                    <h2 class="modal-header">Delete Text</h2>
                    <div class="div-error-big" id="modal-delete-text-div-errors"></div>
                    <div style="text-align: center;">
                        <h5>Are you sure you want to delete <i><span id="modal-delete-text-span-title"></span></i>?</h5>
                    </div>
                    
                    <form id="modal-form-delete-text">
                        <div class="form-div-label-and-input">
                            <input type="hidden" id="modal-delete-text-hidden-input-id">
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-delete-text-button-cancel" onclick="closeModalDeleteText()">Cancel</button>
                            <button type="submit" class="form-button" id="modal-form-delete-text-button-submit" onclick="submitDeleteText()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-view-edit-text" class="modal">
                <div class="modal-content" id="modal-view-edit-text-content">
                    <h2 class="modal-header">View/Edit Text</h2>
                    <div class="div-error-big" id="modal-view-edit-text-div-errors"></div>
                    
                    <form id="modal-form-edit-text-account">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-view-edit-text-input-title" class="view-edit-text-label">Title:</label>
                            <input type="text" id="modal-form-view-edit-text-input-title">
                            <div class="div-error-small" id="modal-form-view-edit-text-input-title-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-view-edit-text-input-content" class="view-edit-text-label">Content:</label>
                            <textarea id="modal-form-view-edit-text-input-content"></textarea>
                            <div class="div-error-small" id="modal-form-view-edit-text-input-content-errors"></div>
                        </div>

                        <input type="hidden" id="modal-form-view-edit-text-input-id">

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-view-edit-text-button-close" onclick="closeModalViewEditText()">Close</button>
                            <button type="submit" class="form-button" id="modal-form-view-edit-text-button-save" onclick="submitViewEditText('true')">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-text-anyway" class="modal">
                <div class="modal-content" id="modal-save-text-anyway-content">
                    <div class="div-error-big" id="modal-save-text-anyway-div-errors"></div>
                    <div style="text-align: center;">
                        <h4 id="modal-save-text-anyway-error-display"></h4>
                    </div>
                    
                    <form id="modal-form-save-text-anyway">
                        <div class="form-div-label-and-input">
                            <input type="hidden" id="modal-save-text-anyway-hidden-input-no-meaning" value="-1">
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-save-text-anyway-button-cancel" onclick="closeModalSaveTextAnyway()">No</button>
                            <button type="submit" class="form-button" id="modal-form-save-text-anyway-button-submit" onclick="submitViewEditText('false')">Yes</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-new-text" class="modal">
                <div class="modal-content" id="modal-save-new-text-content">
                    <h2 class="modal-header">Save New Text</h2>
                    <div class="div-error-big" id="modal-save-new-text-div-errors"></div>
                    
                    <form id="modal-form-save-new-text">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-save-new-text-input-title" class="view-edit-text-label">Title:</label>
                            <input type="text" id="modal-form-save-new-text-input-title">
                            <div class="div-error-small" id="modal-form-save-new-text-input-title-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-save-new-text-input-content" class="view-edit-text-label">Content:</label>
                            <textarea id="modal-form-save-new-text-input-content"></textarea>
                            <div class="div-error-small" id="modal-form-save-new-text-input-content-errors"></div>
                        </div>

                        <input type="hidden" id="modal-form-save-new-text-input-hidden">

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-save-new-text-button-close" onclick="closeModalSaveNewText()">Close</button>
                            <button type="submit" class="form-button" id="modal-form-vsave-new-text-button-save" onclick="submitSaveNewText('true')">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-new-text-anyway" class="modal">
                <div class="modal-content" id="modal-save-new-text-anyway-content">
                    <div class="div-error-big" id="modal-save-new-text-anyway-div-errors"></div>
                    <div style="text-align: center;">
                        <h4 id="modal-save-new-text-anyway-error-display"></h4>
                    </div>
                    
                    <form id="modal-form-save-new-text-anyway">
                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-save-new-text-anyway-button-cancel" onclick="closeModalSaveNewTextAnyway()">No</button>
                            <button type="submit" class="form-button" id="modal-form-save-new-text-anyway-button-submit" onclick="submitSaveNewText('false')">Yes</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-new-text-success" class="modal">
                <div class="modal-content modal-success" id="modal-save-new-text-success-content">
                    <h3>Text Successfully Saved.</h3>
                    <button type="submit" class="button-modal-success" onclick="closeModalSaveNewTextSuccess()">Close</button>
                </div>
            </div>

        </section> <!-- END Section-Main-Body ------------------------------------------------------------------ -->

        <footer>
            <p>Created by LeBoot Websites</p>
            <p>Copyright © 2020</p>
        </footer> <!-- END footer -->

        <!-- JavaScript, Custom, Internal -->
        <script></script>

        <!-- JavaScript, Custom, External -->
        <script src="/js/account.js" ></script>
        <script src="/js/sidebar.js" ></script>

        <!-- External Scripts -->
            <!-- Full JQuery (with AJAX) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body> <!-- END BODY ====================================================================================== -->
</html>