<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Analysis of a text yields a visual representation of the frequency of the text's words.">
        <meta name="keywords" content="chart.js; spinner; page-tabs; hamburger menu; pictures in header; modals">
        
        <meta name="author" content="Ben Leboot">
        <meta name="date.created" content="2020-03-02">
        <meta name="date.modified" content="2020-04-22"> <!-- THIS -->
               
        <!-- Title for document -->
        <title>Home | Word Counter</title>

        <!-- External Links -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
            <!-- CDN for chart.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
            
        <!-- CSS, Custom, External -->
        <link href="css/headerfooter.css" rel="stylesheet" type="text/css" />
        <link href="css/home.css" rel="stylesheet" type="text/css" />
        <link href="css/sidebar.css" rel="stylesheet" type="text/css" />
        
        <!-- CSS, Custom, Internal -->
        <style>
        </style>

    </head> <!-- END HEAD ====================================================================================== -->
    
    <body>
        <noscript><div id="div-noscript"><h2>Warning: This page does not function properly with JavaScript disabled.</h2></div></noscript>
        
        <header>
            <div class="div-header-picture"></div>
            <div class="div-header-picture"></div>
            <div class="div-header-picture"></div>
            <div class="div-header-picture"></div>
            <div class="div-header-picture"></div>
            <div class="div-header-picture"></div>
            <div class="div-header-picture"></div>
        </header> <!-- END header ------------------------------------------------------------------------------ -->

        <section class="section-main-body">

            <!-- Sidebar (Thymeleaf controlled) -->
            <nav id="sidebar" th:switch="${isLoggedIn}">

                <!-- Is Logged In-->
                <div th:case="true">
                    <div id="div-sidebar-header">
                        <div><h3>Hello,</h3></div>
                        <div><h4><span th:text="${email}"></span></h4></div>
                    </div>
                    <div id="div-sidebar-links-container">
                        <div class="div-sidebar-link">
                            <a href="account/view">
                                <button class="div-sidebar-button button-standard" id="button-link-my-account">My Account</button>
                            </a>
                        </div>
                        <div class="div-sidebar-link">
                            <a href="/logout">
                                <button class="div-sidebar-button button-standard" id="button-log-out">Log Out</button>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Is Not Loggged In -->
                <div th:case="false">
                    <div id="div-sidebar-header">
                        <h3>Welcome!</h3>
                    </div>
                    <div id="div-sidebar-links-container">
                        <div class="div-sidebar-link">
                            <button class="div-sidebar-button button-standard" id="button-activate-modal-log-in" onClick="displayModalLogIn()">Log In</button>
                        </div>
                        <div class="div-sidebar-link">
                            <button class="div-sidebar-button button-standard" id="button-activate-modal-sign-up" onClick="displayModalSignUp()">Sign Up</button>
                        </div>
                    </div>
                </div>

            </nav> <!-- End Sidebar ---------------------------------------------------------------------------- -->
    
            <!-- Page Content -->
            <div id="page-content">
                <nav id="nav-sidebar-toggle">
                    <button id="button-sidebar-toggle button-standard" onClick="toggleSidebar()">☰ Menu</button>
                </nav>
                <div id="div-analysis">
                    <form id="div-analysis-form" onSubmit="analyzeText()">
                        <div>
                            <textarea placeholder="Text to analyze." id="analysis-form-text-area"></textarea>
                        </div>

                        <input type="hidden" id="home-do-analyze" th:value="${doAnalyze}">
                        <input type="hidden" id="home-do-analyze-content" th:value="${doAnalyzeContent}">

                        <div id="analysis-form-error-div" class="div-error-small"></div>
                         
                        <div id="analysis-form-buttons-div" th:switch="${isLoggedIn}">
                            <!-- If Logged In-->
                            <div th:case="true">
                                <button class="button-standard analysis-form-button" type="submit" onClick="analyzeText(true)">Analyze</button>
                                <button class="button-standard analysis-form-button" type="button" onClick="clearForm()">Clear Form</button>
                                <button class="button-standard analysis-form-button" type="button" onClick="displayModalSaveNewText()">Save</button>
                            </div>

                            <!-- If Logged Out -->
                            <div th:case="false">
                                <button class="button-standard analysis-form-button" type="submit" onClick="analyzeText(true)">Analyze</button>
                                <button class="button-standard analysis-form-button" type="button" onClick="clearForm()">Clear Form</button>
                            </div>
                        </div>

                        <div id="analysis-form-spinner" class="inactive-tab-content">
                            <div class="spin"></div>
                        </div>

                        <div id="analysis-form-reset-button-div" class="inactive-tab-content">
                            <button class="button standard analysis-form-button" type="button" onClick="resetForm()">Reset</button>
                        </div>

                    </form>
                </div>

                <div id="container-for-page-tabs" class="inactive-tab-content">
                    <div id="page-tabs-buttons">
                        <button class="tab-button" onClick="displayTabContent('page1', this, 'rosybrown')" id="defaultOpen">Scalar Graph</button>
                        <button class="tab-button" onClick="displayTabContent('page2', this, 'rosybrown')">Log Graph</button>
                        <button class="tab-button" onClick="displayTabContent('page3', this, 'rosybrown')">Table</button>
                    </div>
                    <div id="page-tabs-content">
                        <div class="tab-content" id="page1">
                            <canvas id="chart-scalar"></canvas>
                            <div id="page1-spinner">
                                <div class="spin"></div>
                            </div>
                        </div>
            
                        <div class="tab-content" id="page2">
                            <canvas id="chart-log"></canvas>
                            <div id="page2-spinner">
                                <div class="spin"></div>
                            </div>
                        </div>
            
                        <div class="tab-content" id="page3">
                            <div id="page3-spinner">
                                <div class="spin"></div>
                            </div>
                            <table id="page3-table" class="inactive-tab-content">
                                <tr id="page3-table-headrow">
                                    <th class="page3-table-headerrow" width="50%">Word</th>
                                    <th class="page3-table-headerrow" width="50%">Occurance</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div> <!-- End Page Content ----------------------------------------------------------------------- -->

            <!-- Modals ---------------------------------------------------------------------------------------- -->
            <div id="modal-log-in" class="modal">
                <div class="modal-content" id="modal-log-in-content">
                    <h2 class="modal-header">Log In</h2>
                    <div class="div-error-big" id="modal-log-in-div-errors"></div>
                    <form id="modal-form-log-in">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-log-in-input-email">Email:</label>
                            <input type="email" id="modal-form-log-in-input-email">
                            <div class="div-error-small" id="modal-log-in-form-email-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-log-in-input-password">Password:</label>
                            <input type="password" id="modal-form-log-in-input-password">
                            <div class="div-error-small" id="modal-log-in-form-password-errors"></div>
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-log-in-button-cancel" onclick="closeModalLogIn()">Cancel</button>
                            <button type="button" class="form-button-forgot-password" id="modal-form-log-in-button-forgot-password" onclick="displayModalForgotPassword()">Forgot Password</button>
                            <button type="submit" class="form-button" id="modal-form-log-in-button-submit" onclick="submitLogIn()">Log In</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-sign-up" class="modal">
                <div class="modal-content" id="modal-sign-up-content">
                    <h2 class="modal-header">Sign Up</h2>
                    <div class="div-error-big" id="modal-sign-up-div-errors"></div>
                    <form id="modal-form-sign-up">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-sign-up-input-email">Email:</label>
                            <input type="email" id="modal-form-sign-up-input-email">
                            <div class="div-error-small" id="modal-sign-up-form-email-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-sign-up-input-password-1">Password:</label>
                            <input type="password" id="modal-form-sign-up-input-password1">
                            <div class="div-error-small" id="modal-sign-up-form-password1-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-sign-up-input-password-2">Confirm Password:</label>
                            <input type="password" id="modal-form-sign-up-input-password2">
                            <div class="div-error-small" id="modal-sign-up-form-password2-errors"></div>
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-sign-up-button-cancel" onclick="closeModalSignUp()">Cancel</button>
                            <button type="submit" class="form-button" id="modal-form-sign-up-button-submit" onclick="submitSignUp()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-sign-up-success" class="modal">
                <div class="modal-content modal-success" id="modal-sign-up-success-content">
                    <h2>Welcome!</h2>
                    <h4>You're successfully signed up and logged in.</h4>
                    <button type="submit" class="button-modal-success" onclick="closeModalSignUpSuccess()">Close</button>
                </div>
            </div>

            <div id="modal-log-in-success" class="modal">
                <div class="modal-content modal-success" id="modal-log-in-success-content">
                    <h2>Welcome!</h2>
                    <h4>You're logged in and good to go.</h4>
                    <button type="submit" class="button-modal-success" onclick="closeModalLogInSuccess()">Close</button>
                </div>
            </div>

            <div id="modal-forgot-password" class="modal">
                <div class="modal-content" id="modal-forgot-password-content">
                    <h2 class="modal-header">Forgot Password</h2>
                    <div class="div-error-big" id="modal-forgot-password-div-errors"></div>
                    <form id="modal-form-forgot-password">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-forgot-password-input-email">Email:</label>
                            <input type="email" id="modal-form-forgot-password-input-email">
                        </div>

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-forgot-password-button-cancel" onclick="closeModalForgotPassword()">Cancel</button>
                            <button type="submit" class="form-button" id="modal-form-forgot-password-button-submit" onclick="submitForgotPassword()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-new-text" class="modal">
                <div class="modal-content" id="modal-save-new-text-content">
                    <h2 class="modal-header">Save Text</h2>
                    <div class="div-error-big" id="modal-save-new-text-div-errors"></div>
                    
                    <form id="modal-form-save-new-text">
                        <div class="form-div-label-and-input">
                            <label for="modal-form-save-new-text-input-title" class="view-edit-text-label">Title:</label>
                            <input type="text" id="modal-form-save-new-text-input-title">
                            <div class="div-error-small" id="modal-form-save-new-text-input-title-errors"></div>
                        </div>

                        <div class="form-div-label-and-input">
                            <label for="modal-form-save-new-text-input-content" class="view-edit-text-label">Content:</label>
                            <textarea id="modal-form-save-new-text-input-content"></textarea>
                            <div class="div-error-small" id="modal-form-save-new-text-input-content-errors"></div>
                        </div>

                        <input type="hidden" id="modal-form-save-new-text-input-hidden">

                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-save-new-text-button-close" onclick="closeModalSaveNewText()">Close</button>
                            <button type="submit" class="form-button" id="modal-form-vsave-new-text-button-save" onclick="submitSaveNewText('true')">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-new-text-anyway" class="modal">
                <div class="modal-content" id="modal-save-new-text-anyway-content">
                    <div class="div-error-big" id="modal-save-new-text-anyway-div-errors"></div>
                    <div style="text-align: center;">
                        <h4 id="modal-save-new-text-anyway-error-display"></h4>
                    </div>
                    
                    <form id="modal-form-save-new-text-anyway">
                        <div class="form-div-buttons">
                            <button type="button" class="form-button" id="modal-form-save-new-text-anyway-button-cancel" onclick="closeModalSaveNewTextAnyway()">No</button>
                            <button type="submit" class="form-button" id="modal-form-save-new-text-anyway-button-submit" onclick="submitSaveNewText('false')">Yes</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-save-new-text-success" class="modal">
                <div class="modal-content modal-success" id="modal-save-new-text-success-content">
                    <h3>Text Successfully Saved.</h3>
                    <button type="submit" class="button-modal-success" onclick="closeModalSaveNewTextSuccess()">Close</button>
                </div>
            </div>

        </section> <!-- END Section-Main-Body ------------------------------------------------------------------ -->

        <footer>
            <p>Created by LeBoot Websites</p>
            <p>Copyright © 2020</p>
        </footer> <!-- END footer -->

        <!-- JavaScript, Custom, Internal -->
        <script>
        </script>

        <!-- JavaScript, Custom, External -->
        <script src="js/home.js" ></script>
        <script src="js/sidebar.js" ></script>
        <script src="js/graph.js" ></script>

        <!-- External Scripts -->
            <!-- Full JQuery (with AJAX) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body> <!-- END BODY ====================================================================================== -->
</html>